<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fr.micklewright.smsvote" >
    <uses-permission android:name="android.permission.RECEIVE_SMS"/>

    <application
        android:name=".DaoApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".HomeActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ElectionActivity"
            android:label="@string/title_activity_election"
            android:parentActivityName=".HomeActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="fr.micklewright.smsvote.HomeActivity" />
        </activity>

        <service
            android:name=".SMSMonitorService"
            android:exported="false" >
        </service>
    </application>

</manifest>
